/* GENERAL */
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', Helvetica, Arial, sans-serif; 
  font-weight: 300;
  font-size: clamp(1.1rem, 1.2vw, 1.2rem);
  line-height: 1.2;
}

.desktop-block {
  display: none;
}

.mobile-block {
  display: block;
}

.print-block {
  display: none;
}

section {
  margin-bottom: 1.5rem;
}

h1 {
  font-weight: bold;
  text-align: center;
  font-size: 1em;
  margin-bottom: 2rem;
}

.job-title {
  font-size: 1.8rem; 
  font-weight: 700; 
  text-transform: uppercase;
  margin-bottom: 1rem;
}

h2 {
  text-transform: uppercase;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1rem;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style-position: inside;  
}

.text-blue {
  color: #4472c4;
}

.text-darkblue {
  color: #002060;
}

.text-uppercase {
  text-transform: uppercase;
}

.subtext{
  font-size: 0.9rem;
}

/* LEFT COLUMN */
#left-column {
  grid-area: left-column;
  min-height: 100vh;
  padding: 30px;
  background-color: #4472c4;
  color: white;
}

.portrait-cont {
  width: 14rem;
  height: 14rem;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
  margin-bottom: 20px;
  border: 4px solid #ccc;
}

.portrait {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block
}

.profile-info{
  text-align: center;
  margin-bottom: 3rem;
}

#left-column a {
  color: white;
}

/* CONTACT */
#contact ul {
  text-align: left;
  padding-left: 0;
}

#contact li {
  list-style-type: none;
}

#contact .indent {
  padding-left: 1.5em;
}

/* COMPÉTENCES */
.skills {
  list-style-type: none;
  padding: 0;
}

.skills-list {
  list-style-type: none;
  padding: 0;
  margin-left: 0.4em;
  margin-bottom: 0.2rem;
}

.skills-title {
  font-weight: bold;
  margin-bottom: 0.2rem;
} 

/* .skill-indent {
  padding-left: 1.6em; 
} */

.skills-list li {
  position: relative;
  padding-left: 1.2em; /* espace entre la puce et le texte */
} 

.skills-list li::before {
  content: "•"; 
  position: absolute;
  left: 0;
  color: #ffffff; 
  font-size: 1em;
  line-height: 1;
}  

/* ----------------------------------------- RIGHT COLUMN --------------------------------------- */

/* HEADER */
header {
  grid-area: header;
  padding: 25px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header p {
    margin-bottom: 10px; 
}
.lien-sociaux-container {
  display: flex;
}
.lien-sociaux {
  list-style-type: none; 
  padding: 0; 
  margin: 0; 
  display: flex;
  gap: 15px; 
}
.lien-sociaux li {
    display: inline-block; 
}
.lien-sociaux a {
    text-decoration: none; 
    color: #4472c4; 
    font-weight: bold;  
}

.content {
  grid-area: content;
  padding: 10px 25px;
}

.experiences-title {
  display: flex;
  align-items: center; 
  gap: 0.4rem; 
}

.experiences-title small {
  font-size: 0.5em; 
  font-weight: 400;
  text-transform: none; 
}

article {
  margin-bottom: 1.7rem;
}

article em  {
  margin-left: -0.3em;
}

.projets-skills{
  margin-top: 1px;
}

.content ul {
  list-style: none;
  padding-left: 0;
}

.content ul li::before {
  content: '•';
  color: black;
  margin-right: 0.4em; 
  font-weight: bold;
}

.date {
  font-style: italic;
  font-size: 0.8em;
}

/* SVG */

.icons {
  width: 18px;
  height: 18px;
  max-width: 20px;
  max-height: 20px;
}

#left-column .icons {
  position: relative;
  top:3px;
  margin-right: 7px;
}

.skills-icon {
  margin-right: 0.5rem;
}

.Github_Icon {
  position: relative;
  top:3px;
  width: 20px;
  height: 20px;
}

.Link_Icon {
  position: relative;
  top:5px;
  width: 23px;
  height: 23px;
}

/* média queries desktop */
@media screen and (min-width: 1024px) {
  main {
    display: grid;
    grid-template-columns: 0.8fr 2fr;
    grid-template-areas: 
      "left-column header"
      "left-column content";  
    width: 70vw;
    margin: 3vw auto;
    box-shadow: 0 10px 20px 0 #777;
  }
  .portrait-cont {
    width: 13rem;
    height: 13rem;
    border: 1px solid #ccc;
  }
  article {
  margin-bottom: 1rem;
  }
  #left-column section {
  margin-bottom: 2rem;
  }
  .date {
  margin-left: 1rem;
  }
  .job-title {
    color: #4472c4;
  }
  .mail {
    font-size: clamp(0.8rem, 1vw, 1.2rem);
  }
  .experiences-title small {
  font-size: 0.7em; 
  }
  .Github_Icon {
  width: 20px;
  height: 20px;
  }
  .Link_Icon {
    width: 23px;
    height: 23px;
  }
}

@media print {
  body {
  font-size: 1rem;
  line-height: 1.1;
  }
  main {
    display: grid;
    grid-template-columns: 245px 1fr;
    grid-template-areas: 
      "left-column header"
      "left-column content";  
    width: 100vw;
    margin: 0;
  }
  #left-column {
    padding: 17px;
  }
  section {
  margin-bottom: 1.6rem;
  }
  #left-column section {
  margin-bottom: 1.8rem;
  }
  header {
    padding: 1rem;
  }
  .content {
    padding: 1.4rem 1rem 1rem 1.5rem;
  }
  article {
  margin-bottom: 0.6rem;
  }
  .portrait-cont {
  width: 11rem;
  height: 11rem;
  border: 1px solid #ccc;
  }
  .job-title {
    color: #4472c4;
  }
  h2 {
  margin-bottom: 0.3rem;
  }
  .date {
  margin-left: 1rem;
  }
   .mail {
  font-size: 0.8rem;
  }
  .experiences-title small {
  font-size: 0.7em; 
  }
  .Github_Icon {
  width: 20px;
  height: 20px;
  }
  .Link_Icon {
    width: 23px;
    height: 23px;
  }
}
