/* GENERAL */
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  margin: 0 0 1rem;
}

h1 {
  margin: 0 0 1rem;
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  line-height: 2rem;
}

h2 {
  letter-spacing: 1px;
  text-transform: uppercase;
}

.text-blue {
  color: #4472c4;
}

.text-darkblue {
  color: #002060;
}

.text-uppercase {
  text-transform: uppercase;
}

.section {
  margin-bottom: 1.5rem;
}

/* LEFT COLUMN */
#left-column {
  grid-area: left-column;
  min-height: 100vh;
  padding: 40px;
  background-color: #4472c4;
  color: white;
}

#left-column h2 {
  margin: 2rem 0 0.5rem;
}
#left-column .section {
  margin-top: 3vh;
}
#left-column a {
  color: white;
}

#left-column h2 {
  font-size: 1.2em;
}

.portrait-cont {
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
  margin-bottom: 20px;
  border: 1px solid #ccc;
} 

@media only screen and (max-width: 56.25em) {
  .portrait-cont {
      width: 12rem;
      height: 12rem;
      border: 4px solid #ccc;
  }
}

.portrait {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block
} 

#h1-div{
  /* text-align: center; */
}

#job-title{
  font-size: 1.4em;
}

#profil p {
  font-size: 1rem;
}

/* CONTACT */
#contact ul {
  text-align: left;
  padding-left: 0;
}

#contact li {
  list-style-type: none;
}

#contact #mail {
    font-size: 0.8rem;
}

/* COMPÉTENCES */
.skills {
  list-style-type: none;
  padding: 0;
  font-size: 0.9rem;
  letter-spacing: 1px;
  margin: 0 0 1rem;
}

.infos {
  columns: 2;
  list-style-type: none;
  padding: 0;
}

/* RIGHT COLUMN */
/* CONTENT */
.content {
  grid-area: content;
  padding: 45px;
}

#right-column h2 {
  margin: 0  0 1rem;
}

#formations, #others-experiences {
  margin-top: 40px;
}

.technical-skills {
  list-style-type: circle;
}

.technical-skills li{
  font-size: 0.9rem;
}

.date{
  margin-left: 1rem;
}

/* SVG */

.icon {
  margin-right: 0.5rem;
}

.icons {
  position: relative;
  top:5px;
  max-width: 20px;
  max-height: 20px;
}

.icons {
  width: 15px;
  height: 15px;
}

.Github_Icon {
  width: 20px; 
  height: 20px; 
}

.Link_Icon {
  width: 20px; 
  height: 20px; 
}

/* média queries desktop */
 @media screen and (min-width: 1000px) {
  .cv-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
      "left-column content";
    width: 70vw;
    margin: 3vw auto;
    box-shadow: 0 10px 20px 0 #777;
  }
} 

@media print {
  .cv-container {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-areas: 
      "left-column content";
    width: 100vw;
    margin: 0;
  }
  #left-column {
    padding: 20px;
  }
  /* CONTACT */
  #contact ul {
    /* font-size: 0.8rem; */
  }
}
